h1 {
    border: 4px solid white;
    border-radius: 5%;
    font-size: 47px;
    color: white;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
       
}
.wrapper {
    text-align: center;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 60px;
    margin-bottom: 30%;
}
.resize{
    border: 4px solid white;
    color: white;
    background: lightseagreen;  
    font-size: 20px;
    border-radius: 7%;
    border-image-slice: 1;
   
    
}
.color{
    border: 4px solid white;
    color: white;
    background: lightseagreen;  
    font-size: 20px;
    border-radius: 10%;
    border-image-slice: 1;

}
.erase{
    border: 4px solid white;
    color: white;
    background: lightseagreen;  
    font-size: 20px;
    border-radius: 10%;
    border-image-slice: 1;
 
}

.resize:hover{
    color: black;
}
.color:hover{
    color: black;
}
.erase:hover{
    color: black;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    margin: 0;
}
html, body{
    background-repeat: no-repeat;
    background: linear-gradient(90deg, rgb(39, 4, 196), rgb(66, 250, 189));
    background-size: cover;
    height: 100%;
    opacity: 95%;
}

.container{
    border: 10px solid transparent;
    border-radius: 16px;
    border-image-source: linear-gradient(90deg, rgb(4, 196, 144), rgb(66, 84, 250));
    display: grid;
    border-image-slice: 1;
       
}

#todo{
    text-align: center;
    display: inline-block;
}


.grid-item{
    width: 3vw;
    height: 3vw;
    background: white;

}
